#about {
    width: 70%;
    margin: 20px auto;
    padding: 25px;
    color: black;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.articleTitle {
    color: blue;
}

body {
    font-family: 'Raleway', sans-serif;
    /* background-color: #c3cae5; */
    background-color: #a0a6bc;
}


.instructions h1 {
    font-size: 120px;
    font-weight: 400;
    text-align: center;
    margin-top: 200px;
}

.instructions {
    padding: 5px;
    color: #ece7e7;
    background-image: url('https://images.unsplash.com/photo-1499438075715-fc23ef376ab9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6be00acf4c3c3b5750307385633e8149&auto=format&fit=crop&w=1008&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    color: rgb(190, 190, 190);
}

#loginAndRegister {
    margin-top: 20px;
}

